[submodule "test/login.wemaker.org"]
	path = test/login.wemaker.org
	url = git://github.com/mozilla/login.webmaker.org.git
[submodule "test/login.webmaker.org"]
	path = test/login.webmaker.org
	url = git://github.com/mozilla/login.webmaker.org.git
