# A Secret used to sign Session cookies.
SESSION_SECRET=I wish the people who clean my office at night were invited to our company Chrismas party.

# Port to listen on
PORT=5000

# URL of the Mongodb instance
MONGO_URL=mongodb://localhost/makeapi

# Where the server is running. Used for test data generating script
HOST='localhost'

# Host and port for your Elastic search cluster
ELASTIC_SEARCH_URL='http://localhost:9200'

# A List of allowed users for write operations to the database
# List in this format: "user:pass,user2:pass"
# You shouldn't use this username/password combo yourself
ALLOWED_USERS="testuser:password"
