# A Secret used to sign Session cookies.
export SESSION_SECRET='I wish the people who clean my office at night were invited to our company Christmas party.'

# Port to listen on
export PORT=5000

# development or production
export NODE_ENV='development'

# URL of the Mongodb instance
export MONGO_URL='mongodb://localhost/makeapi'

# Where the server is running. Used for test data generating script
export HOST='localhost'

# Host and port for your Elastic search cluster
export ELASTIC_SEARCH_URL='http://localhost:9200'

# A List of allowed users for write operations to the database
# List in this format: "user:pass,user2:pass"
# You shouldn't use this username/password combo yourself
export ALLOWED_USERS='testuser:password'

# Persona
export AUDIENCE="http://webmaker.mofostaging.net"

# statsd metrics collection. If the following are left empty, no stats
# will be collected or sent to a server. Only STATSD_HOST and STATSD_PORT
# are required. STATSD_PREFIX is an optional prefix for all stats (defaults
# to "development.makeapi" or "production.makeapi" if left blank).
export STATSD_HOST=
export STATSD_PORT=
export STATSD_PREFIX=

# This is used to check if a user is an administrator (include user/password)
# in URL. Don't use this username/password combo
export LOGIN_SERVER_URL_WITH_AUTH='http://loginuser:loginpassword@localhost:3000'
