<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
  <head>
    <title>Make Editor</title>
    <meta name="csrf_token" content="{{csrf}}" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="js/external/jquery.event.drag-2.2.js"></script>
    <script src="js/external/slick.core.js"></script>
    <script src="js/external/slick.grid.js"></script>
    <script src="js/external/slick.editors.js"></script>
    <script src="js/external/slick.dataview.js"></script>
    <script src="js/external/slick.pager.js"></script>
    <script src="js/external/jquery.lightbox_me.min.js"></script>
    <script src="js/make-api.js"></script>
    <script src="js/admin.js"></script>
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="stylesheets/slick.grid.css" >
    <link rel="stylesheet" type="text/css" href="stylesheets/slick.pager.css" >
    <link rel="stylesheet" type="text/css" href="stylesheets/admin.css" >
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Make Editor</a>
          <div class="nav-collapse collapse">
            <ul class="nav nav-pills pull-right">
              <li class="user">
                <a id="identity" href="#" >{{email}}</a>
              </li>
              <li ><a id="logout" href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="search-tag">Search By Tag:</label>
            <div class="controls">
              <input id="search-tag" name="search-tag" title="PROTIP: empty === get all makes" placeholder="empty gets all makes" class="input-large" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="search"></label>
            <div class="controls">
              <button id="search" type="button" name="search" class="btn btn-success">Search</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
      <span class="error-message hidden red-text"></span>
      <div class="data-table-area"></div>
      <div id="pager"></div>

    <script src="{{audience}}/sso/include.js"></script>
  </body>
</html>
