<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <meta name="persona-email" content="{{email}}">
    <meta name="csrf-token" content="{{csrf}}" >
    <link rel="stylesheet" href="/bower/nav-global/nav.css" />
    <link rel="stylesheet" href="/bower/persona-btn/persona-btn.css" />
    <style type="text/css" media="screen">
      .webmaker-logout:hover {
        cursor: pointer;
      }
      #err-message {
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="webmaker-nav">
      <nav class="webmaker-nav-container">
        <a id="logo" href="https://webmaker.org"><img src="{{login}}/img/webmaker-logo.png" alt="Mozilla Webmaker" /></a>
        <ul class="webmaker-nav user-info">
          <li class="user">
            Hi <span id="identity" class="user-name-container"></span>
          </li>
          <li>
            <div class="webmaker-login persona-button">
                <span class="text">Sign in</span><span class="tip"></span>
            </div>
            <span class="webmaker-logout" style="display: none;">Sign out</span>
          </li>
        </ul>
      </nav>
    </div>
    <span style="text-align: center;">
      <h1>Make Editor Login</h1>
      <h2>Sign in with your Webmaker account Above</h2>
      <br />
      <p id="err-message" class="help-block hidden"></p>
    </span>
    <script src="{{personaHostname}}/include.js"></script>
    <script src="js/external/jquery.min.js"></script>
    <script src="bower/webmaker-auth-client/dist/webmaker-auth-client.min.js"></script>
    <script src="js/login.js"></script>
  </body>
</html>
