div.container {
  margin-top: 30px;
}

div.data-table-area {
  width: 95%;
  margin-left: 2.5%;
  height: 500px;
  overflow: hidden;
  outline: 0px none;
  position: relative;
  border: 1px solid gray;
}

div#pager {
  width: 95%;
  margin-left: 2.5%;
  height: 20px;
}

.error-message {
  width: 100%;
  text-align: center;
  display: block;
}

.hidden {
  display: none;
}

.delete-make-btn {
  width: 100%;
}

.red-text {
  color: #ff0000;
}
