@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.make-gallery {
  background: #EEE;
  font-size: 100%;
  overflow: auto;
  padding: 0 1em 1em 0;
}

.make-gallery .make-node {
  font-family:  "Open Sans","Helvetica Neue", Arial, sans-serif;
  padding: 1em 0 0 1em;
  font-weight: 300;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.make-gallery .make-node-inner {
  background: white;
  -moz-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2);
  box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2);
  position: relative;
}

.make-gallery .make-thumbnail {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-color: white;
  border-bottom: solid 1px #EEE;

}

.make-gallery .default-thumbnail {
  background-image: url("/images/chef.png");
}

.make-gallery .make-thumbnail:hover {
  opacity: .8;
}

.make-gallery h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 13px 0;
  padding: 0;
  line-height: 28px;
}

.make-gallery .make-details-link {
  color: #555;
  text-decoration: none;
}

.make-gallery .make-details-user {
  color: #333;
  text-decoration: none;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.make-gallery .make-details-user:hover {
  text-decoration: underline;
  color: #27aae1;
}

.make-gallery .make-meta {
  font-size: .9em;
  padding: 0;
  margin: 0 0 15px 0;
  overflow: auto;
}

.make-gallery .make-description {
  color: #999;
  font-size: 1em;
  padding: 0;
  margin: 0 0 10px 0;
}

.make-gallery .make-details {
  background: white;
  padding: 1em 1em 1.5em 1em;
  color: #999;
}

.make-gallery .make-user-avatar {
  float: left;
  margin-right: 6px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
  height: 44px;
  width: 44px;
}

.make-gallery .make-details-link:hover {
  color: #27aae1;
  text-decoration: underline;
}

.make-gallery .make-tags {
  font-size: .9em;
}

.make-gallery .make-tags a {
  color: #27aae1;
  text-decoration: none;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  font-weight: normal;
}

.make-gallery .make-tags a:hover {
  text-decoration: underline;
}

.make-gallery .make-tags a:after {
  content: ",";
}

.make-gallery .make-tags a:before {
  content: "#";
}


.make-gallery .make-tags a:last-child:after {
  content: "";
}

.make-gallery .make-tags a:only-child:after {
  content: "";
}

.make-gallery .button-container {
  padding: 0em 1em 1em 1em;
}

.make-gallery .button-container a {
  display: inline-block;
  position: relative;
  font-size: .9em;
  padding: 0.6em 0.9em 0.6em 2.4em;
  text-decoration: none;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.make-gallery .make-remix {
  background: #3fb58e;
  border-bottom: solid 2px #228363;
  color: white;
  -webkit-border-radius: 2px;
  font-weight: normal;
}

.make-gallery .make-remix .icon-remix {
  left: .6em;
  top: 6px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/remix-icon.png);
  position: absolute;
}

.make-gallery .make-remix:hover {
  background: #4bc79e;
}

.make-gallery .make-remix:active {
  background: #3fb58e;
  border-top: solid 2px #228363;
  border-bottom: none;
  background: #2f9b77;
  border-top: solid 2px #208161;
}

.make-gallery .make-remix:active .icon-remix {
  top: 7px;
}

.make-gallery .button-container .make-like {
  color: white;
  padding: .6em 1.2em .7em 1.2em;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/make-like-icon-outline.png);
  border: solid 2px rgba(190,70,41,.2);
}

.make-gallery .button-container .make-like:hover {
  background-image: url(/images/make-like-icon.png);
  border: solid 2px rgba(190,70,41,.5);
}




.make-gallery .make-like {
  display: none !important;
}

.make-gallery .make-node {
  width: 20%;
}

.make-gallery[data-cols="1"] .make-node {
  width: 100%;
}

.make-gallery[data-cols="2"] .make-node {
  width: 50%;
}

.make-gallery[data-cols="3"] .make-node {
  width: 33.3%;
}

.make-gallery[data-cols="4"] .make-node {
  width: 25%;
}

.make-gallery[data-cols="5"] .make-node {
  width: 20%;
}

