/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.input-wrapper {
  width: 315px;
  height: 25px;
  margin-top: 2.5px;
  font-weight: bold;
}
.input-wrapper input,
.input-wrapper select {
  float: right;
}

.input-wrapper select {
  width: 150px;
}

.input-wrapper div {
  height: 25px;
  float: right;
  width: 100px;
}

.input-wrapper div input {
  float: none;
}
