body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.gallery-item  {
  height: 315px;
  width: 460px;
  position: relative;
  float: left;
}

.gallery-item > img {
  height: 100%;
  width: 100%;
}

.gallery-item > .title {
  margin: 0;
  padding: 0.5em;
  color: #FFF;
  background: rgba( 0, 0, 0, 0.5 );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
